162 DIALOGEX 0, 0, 221, 201, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "DIP Switches (Configuración de switchers)"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 106, 180, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 164, 180, 50, 14
 GROUPBOX "", 2516, 7, 7, 207, 148
 LTEXT "Desconocido", 2500, 14, 20, 40, 8
 COMBOBOX 2508, 94, 18, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2501, 14, 37, 40, 8
 COMBOBOX 2509, 94, 34, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2502, 14, 54, 40, 8
 COMBOBOX 2510, 94, 51, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2503, 14, 71, 40, 8
 COMBOBOX 2511, 94, 68, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2504, 14, 88, 40, 8
 COMBOBOX 2512, 94, 85, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2505, 14, 105, 40, 8
 COMBOBOX 2513, 94, 102, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2506, 14, 122, 40, 8
 COMBOBOX 2514, 94, 119, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Desconocido", 2507, 14, 139, 40, 8
 COMBOBOX 2515, 94, 136, 113, 47, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "No mostrar de nuevo", 5244, 14, 164, 71, 10
}
