163 DIALOGEX 0, 0, 251, 71, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Grabador de cinta"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 138, 50, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 194, 50, 50, 14
 GROUPBOX "Archivo", -1, 7, 7, 237, 30
 EDITTEXT 4473, 16, 18, 147, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 4474, 167, 18, 34, 13, WS_GROUP
 PUSHBUTTON "Limpiar", 4475, 205, 18, 34, 13
 GROUPBOX "", -1, 7, 43, 114, 22
 AUTOCHECKBOX "Usar nom. de archivo imagen", 4478, 14, 50, 105, 12, WS_GROUP
}
