164 DIALOGEX 0, 0, 366, 283, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Trucos"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Códigos permanentes", -1, 7, 7, 350, 120
 CONTROL "", 2700, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | 0x00000805, 14, 17, 336, 82, WS_EX_STATICEDGE
 PUSHBUTTON "Añadir", 2702, 14, 106, 46, 14, WS_GROUP
 PUSHBUTTON "Editar", 2704, 72, 106, 46, 14, WS_GROUP
 PUSHBUTTON "Borrar", 2706, 130, 106, 46, 14
 PUSHBUTTON "Importar", 2708, 188, 106, 46, 14
 PUSHBUTTON "Exportar", 2710, 246, 106, 46, 14
 PUSHBUTTON "Limpiar", 2712, 304, 106, 46, 14
 GROUPBOX "Códigos temporales", -1, 7, 132, 350, 124
 CONTROL "", 2701, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | 0x00000805, 14, 143, 336, 82, WS_EX_STATICEDGE
 PUSHBUTTON "Añadir", 2703, 14, 233, 46, 14, WS_GROUP
 PUSHBUTTON "Editar", 2705, 72, 233, 46, 14, WS_GROUP
 PUSHBUTTON "Borrar", 2707, 130, 233, 46, 14
 PUSHBUTTON "Importar", 2709, 188, 233, 46, 14
 PUSHBUTTON "Exportar", 2711, 246, 233, 46, 14
 PUSHBUTTON "Limpiar", 2713, 304, 233, 46, 14
 AUTOCHECKBOX "Ver hex", 2743, 14, 266, 47, 10
 DEFPUSHBUTTON "Aceptar", 1, 308, 262, 49, 14, WS_GROUP
}
