165 DIALOGEX 0, 0, 240, 306, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Agregar códigos"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "CPU RAM", -1, 7, 7, 95, 154
 CONTROL "", 2732, "SysListView32", WS_BORDER | WS_TABSTOP | 0x00000805, 14, 17, 83, 136
 GROUPBOX "Filtro de búsqueda", -1, 109, 7, 125, 155
 LTEXT "A", 2728, 115, 23, 8, 8
 EDITTEXT 2730, 123, 20, 30, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_GROUP
 LTEXT "B", 2729, 164, 23, 8, 8
 EDITTEXT 2731, 171, 20, 30, 12, ES_UPPERCASE | ES_AUTOHSCROLL | WS_GROUP
 AUTORADIOBUTTON "Ninguno", 2733, 124, 43, 38, 10, WS_GROUP
 AUTORADIOBUTTON "R0 != R1", 2739, 124, 56, 45, 10
 AUTORADIOBUTTON "R0 < R1", 2737, 124, 69, 55, 10
 AUTORADIOBUTTON "R0 > R1", 2738, 124, 82, 58, 10
 AUTORADIOBUTTON "R0 = A && R1 = B", 2734, 124, 95, 69, 10
 AUTORADIOBUTTON "R0 = A && R0-R1 = B", 2735, 124, 108, 81, 10
 AUTORADIOBUTTON "R0-R1 = B", 2736, 124, 121, 49, 10
 PUSHBUTTON "Resetear", 2740, 115, 140, 38, 14, WS_GROUP
 AUTOCHECKBOX "Usa hex", 2727, 172, 144, 39, 11, WS_GROUP
 GROUPBOX "", -1, 7, 162, 95, 74
 RADIOBUTTON "En bruto (Raw)", 2714, 14, 172, 60, 10, WS_GROUP
 LTEXT "Dirección:", -1, 17, 188, 30, 8
 EDITTEXT 2717, 47, 186, 41, 12, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "Valor:", -1, 26, 204, 21, 8
 EDITTEXT 2718, 47, 202, 30, 12, ES_UPPERCASE | ES_AUTOHSCROLL
 LTEXT "Compara:", -1, 15, 218, 32, 8
 EDITTEXT 2719, 47, 218, 30, 12, ES_UPPERCASE | ES_AUTOHSCROLL
 GROUPBOX "", -1, 109, 162, 125, 74
 RADIOBUTTON "Game Genie", 2715, 119, 172, 55, 10
 EDITTEXT 2721, 131, 186, 69, 12, ES_UPPERCASE | WS_GROUP
 RADIOBUTTON "Pro Action Rocky", 2716, 119, 207, 65, 10, WS_GROUP
 EDITTEXT 2720, 131, 218, 69, 12, ES_UPPERCASE | WS_GROUP
 GROUPBOX "", -1, 7, 236, 227, 44
 LTEXT "Juego:", -1, 31, 247, 22, 8
 EDITTEXT 2723, 54, 245, 66, 13, ES_UPPERCASE | ES_AUTOHSCROLL
 PUSHBUTTON "Actual", 2741, 126, 244, 47, 14
 PUSHBUTTON "Buscar", 2742, 180, 244, 47, 14
 LTEXT "Descripción:", -1, 14, 264, 39, 10
 EDITTEXT 2726, 54, 263, 173, 13, ES_AUTOHSCROLL | WS_GROUP
 EDITTEXT 2724, 7, 285, 51, 15, ES_CENTER | ES_AUTOHSCROLL | ES_READONLY | WS_GROUP | NOT WS_TABSTOP
 PUSHBUTTON "Validar", 2725, 70, 284, 47, 16, WS_GROUP
 DEFPUSHBUTTON "Agregar", 2722, 128, 284, 48, 16
 PUSHBUTTON "Cancelar", 2, 187, 284, 47, 16
}
