166 DIALOGEX 0, 0, 468, 241, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de video"
FONT 8, "MS Shell Dlg", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 356, 220, 47, 15
 PUSHBUTTON "Cancelar", 2, 414, 220, 47, 15
 GROUPBOX "Pantalla", -1, 7, 7, 191, 111
 LTEXT "Dispo.:", -1, 14, 23, 25, 8, NOT WS_GROUP
 COMBOBOX 2600, 40, 23, 152, 52, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP
 LTEXT "Modo:", -1, 14, 44, 21, 8, NOT WS_GROUP
 COMBOBOX 2601, 40, 43, 93, 101, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Filtro:", -1, 14, 65, 20, 8, NOT WS_GROUP
 COMBOBOX 2602, 40, 63, 93, 104, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Ajustes..", 2603, 138, 62, 48, 14, WS_GROUP
 AUTORADIOBUTTON "16 bit", 2604, 40, 98, 31, 10
 AUTORADIOBUTTON "32 bit", 2605, 85, 98, 32, 10
 GROUPBOX "Pool de memoria", -1, 7, 122, 191, 32
 AUTORADIOBUTTON "Video", 2606, 29, 136, 30, 9, WS_GROUP
 AUTORADIOBUTTON "Sistema", 2607, 87, 136, 36, 9
 GROUPBOX "Paleta", -1, 7, 157, 341, 57
 AUTORADIOBUTTON "Auto", 2626, 14, 175, 27, 10, WS_GROUP
 AUTORADIOBUTTON "YUV", 2627, 52, 175, 26, 10
 AUTORADIOBUTTON "RGB", 2628, 89, 175, 26, 10
 AUTORADIOBUTTON "Person.", 2629, 14, 191, 35, 10
 EDITTEXT 2630, 53, 189, 193, 12, ES_AUTOHSCROLL | ES_READONLY | WS_GROUP | NOT WS_TABSTOP
 PUSHBUTTON "Editor..", 2633, 252, 171, 90, 13, WS_GROUP
 PUSHBUTTON "Buscar..", 2631, 252, 188, 42, 13
 PUSHBUTTON "Limpiar", 2632, 300, 188, 42, 13
 GROUPBOX "Pantalla NTSC", -1, 204, 7, 112, 72
 LTEXT "Izquierda", -1, 214, 34, 30, 8, NOT WS_GROUP
 EDITTEXT 2608, 214, 42, 30, 12, ES_CENTER | ES_NUMBER | WS_GROUP
 LTEXT "Arriba", -1, 250, 21, 20, 8, NOT WS_GROUP
 EDITTEXT 2609, 244, 29, 30, 12, ES_CENTER | ES_NUMBER
 LTEXT "Derecha", -1, 277, 34, 30, 8, NOT WS_GROUP
 EDITTEXT 2610, 274, 42, 30, 12, ES_CENTER | ES_NUMBER
 LTEXT "Abajo", -1, 247, 48, 24, 8, NOT WS_GROUP
 EDITTEXT 2611, 244, 56, 30, 12, ES_CENTER | ES_NUMBER
 GROUPBOX "Pantalla PAL", -1, 204, 82, 112, 72
 LTEXT "Izquierda", -1, 214, 110, 30, 8, NOT WS_GROUP
 EDITTEXT 2612, 214, 118, 30, 12, ES_CENTER | ES_NUMBER | WS_GROUP
 LTEXT "Arriba", -1, 250, 97, 20, 8, NOT WS_GROUP
 EDITTEXT 2613, 244, 105, 30, 12, ES_CENTER | ES_NUMBER
 LTEXT "Derrecha", -1, 277, 110, 30, 8, NOT WS_GROUP
 EDITTEXT 2614, 274, 118, 30, 12, ES_CENTER | ES_NUMBER
 LTEXT "Abajo", -1, 247, 124, 24, 8, NOT WS_GROUP
 EDITTEXT 2615, 244, 132, 30, 12, ES_CENTER | ES_NUMBER
 GROUPBOX "Colores", -1, 321, 7, 140, 147
 LTEXT "Brillo", -1, 359, 17, 34, 8, NOT WS_GROUP
 CONTROL "", 2616, "msctls_trackbar32", WS_GROUP | WS_TABSTOP | 0x00000014, 323, 26, 107, 20
 CTEXT "0", 2620, 431, 28, 23, 11, SS_SUNKEN
 LTEXT "Saturación", -1, 359, 45, 34, 8, NOT WS_GROUP
 CONTROL "", 2617, "msctls_trackbar32", WS_TABSTOP | 0x00000014, 323, 54, 107, 20
 CTEXT "0", 2621, 431, 56, 23, 11, SS_SUNKEN | NOT WS_GROUP
 LTEXT "Contraste", -1, 361, 73, 35, 8, NOT WS_GROUP
 CONTROL "", 2618, "msctls_trackbar32", WS_TABSTOP | 0x00000014, 323, 82, 107, 20
 CTEXT "0", 2622, 431, 84, 23, 11, SS_SUNKEN | NOT WS_GROUP
 LTEXT "Matiz", -1, 369, 101, 24, 8, NOT WS_GROUP
 CONTROL "", 2619, "msctls_trackbar32", WS_TABSTOP | 0x00000014, 323, 110, 107, 20
 CTEXT "0", 2623, 431, 112, 23, 11, SS_SUNKEN | NOT WS_GROUP
 PUSHBUTTON "Avanzadas..", 2625, 349, 134, 48, 14, WS_GROUP
 PUSHBUTTON "Resetear", 2624, 403, 134, 51, 14
 GROUPBOX "Frecuencia del monitor", -1, 355, 157, 106, 27
 AUTOCHECKBOX "Auto", 2634, 364, 169, 31, 10, WS_GROUP
 GROUPBOX "Curvatura de pantalla", -1, 355, 187, 106, 27
 CONTROL "", 2635, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 360, 200, 68, 11
 CTEXT "0", 2636, 430, 199, 23, 11, SS_SUNKEN | NOT WS_GROUP
 PUSHBUTTON "Por defecto", 2637, 299, 220, 47, 15, WS_GROUP
}
