167 DIALOGEX 0, 0, 217, 138, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Decodificador de color"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 101, 117, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 160, 117, 50, 14
 GROUPBOX "", -1, 7, 7, 203, 100
 LTEXT "R-Y", -1, 14, 16, 15, 10
 CONTROL "", 4600, "msctls_trackbar32", WS_GROUP | WS_TABSTOP | 0x00000018, 31, 14, 88, 14, WS_EX_CLIENTEDGE
 CTEXT "0", 4603, 123, 14, 19, 14, SS_SUNKEN | NOT WS_GROUP
 LTEXT "Ganan.", -1, 145, 16, 25, 9
 EDITTEXT 4606, 171, 14, 32, 14, ES_AUTOHSCROLL
 LTEXT "G-Y", -1, 14, 41, 15, 10
 CONTROL "", 4601, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 31, 39, 88, 14, WS_EX_CLIENTEDGE
 CTEXT "0", 4604, 123, 39, 19, 14, SS_SUNKEN | NOT WS_GROUP
 LTEXT "Ganan.", -1, 145, 41, 25, 9
 EDITTEXT 4607, 171, 39, 32, 14, ES_AUTOHSCROLL
 LTEXT "B-Y", -1, 14, 68, 15, 10
 CONTROL "", 4602, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 31, 65, 88, 14, WS_EX_CLIENTEDGE
 CTEXT "0", 4605, 123, 65, 19, 14, SS_SUNKEN | NOT WS_GROUP
 LTEXT "Ganan.", -1, 145, 68, 25, 9
 EDITTEXT 4608, 171, 65, 32, 14, ES_AUTOHSCROLL
 PUSHBUTTON "15° Canónico", 4610, 14, 88, 61, 13, WS_GROUP
 PUSHBUTTON "Consumidor", 4611, 78, 88, 61, 13
 PUSHBUTTON "Alternativo", 4612, 142, 88, 61, 13
 AUTOCHECKBOX "Enfatizar amarillo", 4609, 14, 115, 65, 9, WS_GROUP
}
