169 DIALOGEX 0, 0, 177, 284, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de filtro"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 64, 263, 50, 14
 PUSHBUTTON "Cancelar", 2, 120, 263, 50, 14
 GROUPBOX "Fusión de campos", -1, 7, 7, 163, 28
 AUTORADIOBUTTON "Auto", 2657, 19, 20, 31, 8, WS_GROUP
 AUTORADIOBUTTON "Activar", 2658, 73, 20, 35, 8
 AUTORADIOBUTTON "Apagar", 2659, 128, 20, 36, 8
 GROUPBOX "Líneas de entrelazado (Scanlines)", -1, 7, 36, 163, 30
 CONTROL "", 2652, "msctls_trackbar32", WS_GROUP | WS_TABSTOP | 0x00000018, 14, 46, 127, 16
 CTEXT "", 2653, 143, 47, 20, 12, SS_SUNKEN
 GROUPBOX "Sintonización/ajuste", -1, 7, 69, 163, 164
 AUTOCHECKBOX "Auto", 2656, 14, 82, 31, 10
 LTEXT "Resolución", 2671, 60, 89, 34, 8
 CONTROL "", 2661, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 98, 127, 16
 CTEXT "", 2666, 143, 97, 20, 12, SS_SUNKEN
 LTEXT "Nitidez", 2670, 60, 113, 34, 8
 CONTROL "", 2660, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 122, 127, 16
 CTEXT "", 2665, 143, 121, 20, 12, SS_SUNKEN
 LTEXT "Sangrado de color", 2672, 60, 137, 90, 8
 CONTROL "", 2662, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 146, 127, 16
 CTEXT "", 2667, 143, 145, 20, 12, SS_SUNKEN
 LTEXT "Artifactos", 2673, 60, 161, 35, 8
 CONTROL "", 2663, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 170, 127, 16
 CTEXT "", 2668, 143, 169, 20, 12, SS_SUNKEN
 LTEXT "Flecos", 2674, 60, 185, 26, 8
 CONTROL "", 2664, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 194, 127, 16
 CTEXT "", 2669, 143, 193, 20, 12, SS_SUNKEN
 PUSHBUTTON "Compuesto", 2675, 15, 214, 46, 12, WS_GROUP
 PUSHBUTTON "S-Video", 2676, 66, 214, 46, 12
 PUSHBUTTON "RGB", 2677, 117, 214, 46, 12
 GROUPBOX "", -1, 7, 236, 163, 21
 AUTOCHECKBOX "Interpolación Bilineal", 2651, 14, 244, 81, 9
 PUSHBUTTON "Por defecto", 2650, 7, 263, 50, 14, WS_GROUP
}
