170 DIALOGEX 0, 0, 177, 97, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de filtro"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 64, 76, 50, 14
 PUSHBUTTON "Cancelar", 2, 120, 76, 50, 14
 GROUPBOX "Escala", -1, 7, 7, 163, 34
 AUTORADIOBUTTON "Auto", 2685, 32, 23, 31, 10, WS_GROUP
 AUTORADIOBUTTON "2x", 2683, 80, 23, 24, 10, WS_GROUP
 AUTORADIOBUTTON "3x", 2684, 121, 23, 24, 10
 GROUPBOX "", -1, 7, 43, 163, 27
 AUTOCHECKBOX "Interpolación Bilineal", 2651, 14, 54, 81, 9, WS_GROUP
 PUSHBUTTON "Default", 2650, 7, 76, 50, 14, WS_GROUP
}
