171 DIALOGEX 0, 0, 177, 97, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de filtro"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 64, 76, 50, 14
 PUSHBUTTON "Cancelar", 2, 120, 76, 50, 14
 GROUPBOX "Escalado", -1, 7, 7, 163, 34
 AUTORADIOBUTTON "Auto", 2689, 14, 23, 31, 10, WS_GROUP
 AUTORADIOBUTTON "2x", 2686, 60, 23, 24, 10, WS_GROUP
 AUTORADIOBUTTON "3x", 2687, 99, 23, 24, 10
 AUTORADIOBUTTON "4x", 2688, 138, 23, 24, 10
 GROUPBOX "", -1, 7, 43, 163, 27
 AUTOCHECKBOX "Interpolación Bilineal", 2651, 14, 54, 81, 9, WS_GROUP
 PUSHBUTTON "Por defecto", 2650, 7, 76, 50, 14, WS_GROUP
}
