172 DIALOGEX 0, 0, 426, 306, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de entrada"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Tipo", -1, 7, 7, 77, 244
 LISTBOX 2100, 14, 18, 65, 229, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Tecla", -1, 89, 7, 103, 244
 LISTBOX 2102, 95, 18, 92, 229, LBS_NOINTEGRALHEIGHT | LBS_NOSEL | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Mapeo", -1, 198, 7, 106, 275
 LISTBOX 2101, 204, 18, 94, 229, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
 GROUPBOX "Joysticks", -1, 309, 7, 110, 275
 COMBOBOX 2115, 315, 17, 97, 56, CBS_DROPDOWNLIST | WS_VSCROLL | WS_GROUP
 AUTOCHECKBOX "Mapeable", 2116, 316, 47, 47, 10, WS_GROUP
 AUTOCHECKBOX "Eje X", 2117, 316, 61, 39, 10
 AUTOCHECKBOX "Eje Y", 2118, 316, 75, 39, 10
 AUTOCHECKBOX "Z - axis", 2119, 316, 89, 39, 10
 AUTOCHECKBOX "Rotación eje X", 2120, 316, 103, 69, 10
 AUTOCHECKBOX "Rotación eje Y", 2121, 316, 117, 69, 10
 AUTOCHECKBOX "Rotación eje Z", 2122, 316, 131, 69, 10
 AUTOCHECKBOX "Deslizador 1", 2123, 316, 145, 50, 10
 AUTOCHECKBOX "Deslizador 2", 2124, 316, 159, 50, 10
 AUTOCHECKBOX "POV 1", 2125, 316, 173, 35, 10
 AUTOCHECKBOX "POV 2", 2126, 316, 187, 35, 10
 AUTOCHECKBOX "POV 3", 2127, 316, 201, 35, 10
 AUTOCHECKBOX "POV 4", 2128, 316, 215, 35, 10
 CONTROL "", 2129, "msctls_trackbar32", WS_GROUP | WS_TABSTOP | 0x00000018, 316, 236, 77, 11, WS_EX_STATICEDGE
 CTEXT "50", 2130, 395, 236, 17, 11, SS_SUNKEN
 LTEXT "Zona muerta", 2131, 336, 250, 50, 8
 GROUPBOX "Auto-disparo", -1, 7, 253, 185, 29
 LTEXT "Lento", -1, 25, 266, 20, 8
 CONTROL "", 2111, "msctls_trackbar32", WS_TABSTOP | 0x00000009, 48, 259, 82, 20
 LTEXT "Ráp.", -1, 133, 266, 15, 8
 PUSHBUTTON "Predet.", 2112, 157, 266, 32, 12
 PUSHBUTTON "Establ.", 2105, 203, 252, 32, 12, WS_GROUP
 PUSHBUTTON "Est.todo", 2108, 236, 252, 32, 12
 PUSHBUTTON "Quitar", 2104, 203, 266, 32, 12
 PUSHBUTTON "Limpiar", 2110, 236, 266, 32, 12
 PUSHBUTTON "Predet.", 2109, 269, 266, 32, 12
 PUSHBUTTON "Calibrar", 2132, 317, 266, 41, 12
 PUSHBUTTON "Por defecto", 2133, 371, 266, 41, 12
 LTEXT "", 2103, 7, 285, 135, 13, WS_BORDER, WS_EX_CLIENTEDGE
 GROUPBOX "", -1, 146, 281, 158, 17
 AUTOCHECKBOX "Permite ar/ab && izq/der simultáneamente", 2134, 154, 287, 145, 11
 PUSHBUTTON "Por defecto", 2106, 307, 284, 54, 14, WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 365, 284, 54, 14
}
