173 DIALOGEX 0, 0, 308, 339, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Rutas"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Imágenes", -1, 6, 7, 294, 41, BS_LEFT | WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 193, 318, 49, 14
 PUSHBUTTON "Cancelar", 2, 251, 318, 49, 14
 EDITTEXT 2200, 13, 17, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2208, 257, 17, 36, 13, WS_GROUP
 AUTOCHECKBOX "Último visto", 2207, 13, 33, 52, 10, WS_GROUP
 GROUPBOX "Datos de guardado", -1, 6, 51, 294, 41, BS_LEFT | WS_GROUP
 EDITTEXT 2201, 13, 62, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2209, 256, 62, 37, 13, WS_GROUP
 AUTOCHECKBOX "Solo lectura", 2218, 13, 79, 76, 10, WS_GROUP
 GROUPBOX "Estados de guardado", -1, 6, 97, 294, 41, BS_LEFT | WS_GROUP
 EDITTEXT 2202, 13, 108, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2210, 256, 108, 37, 13, WS_GROUP
 AUTOCHECKBOX "Auto importar slots", 2216, 13, 124, 79, 10, WS_GROUP
 AUTOCHECKBOX "Auto exportar slots", 2217, 100, 124, 80, 10
 AUTOCHECKBOX "Usar compresión interna", 2215, 189, 124, 93, 10
 GROUPBOX "Trucos", -1, 6, 143, 294, 41, BS_LEFT | WS_GROUP
 EDITTEXT 2203, 14, 155, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2211, 256, 155, 37, 13, WS_GROUP
 AUTOCHECKBOX "Auto carga", 2225, 13, 171, 47, 10, WS_GROUP
 AUTOCHECKBOX "Auto guardar", 2226, 67, 171, 50, 10, WS_GROUP
 GROUPBOX "Parches", -1, 6, 187, 294, 41, BS_LEFT | WS_GROUP
 EDITTEXT 2204, 13, 200, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Browse..", 2212, 255, 200, 37, 13, WS_GROUP
 AUTOCHECKBOX "Auto parche.", 2219, 13, 215, 51, 10, WS_GROUP
 AUTOCHECKBOX "Ignorar validación CRC", 2220, 67, 214, 87, 10, WS_GROUP
 GROUPBOX "Capturas de pantalla", -1, 6, 233, 294, 41, BS_LEFT | WS_GROUP
 EDITTEXT 2205, 13, 247, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2213, 255, 247, 37, 13, WS_GROUP
 LTEXT "Guardar", -1, 13, 263, 26, 8
 AUTORADIOBUTTON "PNG", 2222, 43, 262, 27, 10, WS_GROUP
 AUTORADIOBUTTON "JPEG", 2223, 79, 262, 31, 10
 AUTORADIOBUTTON "BMP", 2224, 115, 262, 28, 10
 GROUPBOX "Muestras de sonido (samples)", -1, 6, 279, 294, 35, BS_LEFT | WS_GROUP
 EDITTEXT 2206, 13, 290, 235, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar..", 2214, 256, 290, 37, 13, WS_GROUP
 PUSHBUTTON "Por defecto", 2221, 135, 318, 49, 14, WS_GROUP
}
