174 DIALOGEX 0, 0, 298, 154, 0
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Información de archivo imagen"
FONT 9, "Fixedsys", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 255, 133, 36, 14
 EDITTEXT 2400, 7, 7, 284, 120, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY
}
