176 DIALOGEX 0, 0, 222, 258, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de tiempo (Timing)"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Opciones de tiempo (Timing)", -1, 7, 7, 208, 72
 AUTORADIOBUTTON "Sinc. con frec. de actualización", 3600, 14, 22, 116, 10
 AUTORADIOBUTTON "Auto salto FPS", 3601, 132, 22, 67, 10
 LTEXT "Salto max de FPS max", 3609, 14, 43, 56, 8, NOT WS_GROUP
 CONTROL "", 3607, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 73, 41, 71, 13, WS_EX_STATICEDGE
 CTEXT "0", 3608, 149, 41, 19, 13, SS_SUNKEN | NOT WS_GROUP
 AUTOCHECKBOX "VSync", 3602, 177, 43, 31, 10
 AUTOCHECKBOX "Usar tiempo alta precisión", 3603, 14, 62, 95, 10
 AUTOCHECKBOX "Activar triple búfer", 3617, 115, 62, 86, 10
 GROUPBOX "Velocidad", -1, 7, 81, 208, 47
 CONTROL "", 3604, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 14, 95, 167, 13, WS_EX_STATICEDGE
 CTEXT "0", 3605, 189, 95, 19, 13, SS_SUNKEN | NOT WS_GROUP
 AUTOCHECKBOX "Usar predeterminado", 3606, 14, 113, 80, 10
 GROUPBOX "Velocidad alternativa", -1, 7, 132, 208, 47
 CONTROL "", 3610, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 13, 146, 167, 13, WS_EX_STATICEDGE
 CTEXT "0", 3611, 189, 151, 19, 13, SS_SUNKEN | NOT WS_GROUP
 AUTOCHECKBOX "Sin sonido", 3618, 14, 164, 46, 10
 GROUPBOX "Rebobinador", -1, 7, 184, 208, 47
 CONTROL "", 3615, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 13, 197, 167, 13, WS_EX_STATICEDGE
 CTEXT "0", 3616, 189, 197, 19, 13, SS_SUNKEN | NOT WS_GROUP
 AUTOCHECKBOX "Activar", 3612, 13, 215, 37, 10, WS_GROUP
 AUTOCHECKBOX "Por defecto", 3614, 56, 215, 61, 10
 AUTOCHECKBOX "Sin sonido", 3613, 123, 215, 46, 10
 PUSHBUTTON "Por defecto", 3619, 51, 237, 50, 14, WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 109, 237, 50, 14
 PUSHBUTTON "Cancelar", 2, 165, 237, 50, 14
}
