178 DIALOGEX 0, 0, 251, 103, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Auto guardado"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 135, 82, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 194, 82, 50, 14
 GROUPBOX "", -1, 7, 7, 237, 26
 EDITTEXT 3002, 14, 14, 15, 12, ES_CENTER | ES_NUMBER | WS_GROUP
 LTEXT "Minutos entre salvados", -1, 33, 16, 76, 8
 AUTOCHECKBOX "Notificar cuando se guarda", 3005, 115, 16, 100, 10, WS_GROUP
 GROUPBOX "Archivo (dejar vacío para el slot 1)", -1, 7, 37, 237, 40
 EDITTEXT 3000, 14, 51, 147, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar", 3001, 165, 51, 34, 13, WS_GROUP
 PUSHBUTTON "Limpiar", 3003, 203, 51, 34, 13
}
