179 DIALOGEX 0, 0, 323, 126, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de Famicom Disk System"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 217, 105, 46, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 270, 105, 46, 14
 GROUPBOX "Archivo ROM de BIOS (requerido)", -1, 7, 7, 309, 36
 EDITTEXT 2902, 14, 20, 217, 14, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar", 2900, 235, 20, 35, 14, WS_GROUP
 PUSHBUTTON "Limpiar", 2901, 274, 20, 35, 14
 GROUPBOX "Opciones de guardado", -1, 7, 51, 83, 51
 AUTORADIOBUTTON "Desactivar", 2906, 14, 63, 48, 9, WS_GROUP
 AUTORADIOBUTTON "Salvar a UPS", 2908, 14, 75, 53, 9
 AUTORADIOBUTTON "Sobreescribir", 2907, 14, 87, 65, 9
 GROUPBOX "LED de acceso a disco", -1, 99, 51, 217, 51
 AUTORADIOBUTTON "No mostrar", 2909, 108, 66, 48, 9, WS_GROUP
 AUTORADIOBUTTON "Pantalla", 2910, 163, 66, 38, 9
 AUTORADIOBUTTON "Num-Lock", 2911, 108, 84, 45, 9
 AUTORADIOBUTTON "Caps-Lock", 2912, 163, 84, 46, 9
 AUTORADIOBUTTON "Scroll-Lock", 2913, 218, 84, 48, 9
 PUSHBUTTON "Por defecto", 2914, 164, 105, 46, 14, WS_GROUP
}
