180 DIALOGEX 0, 0, 251, 65, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Archivo de sonido"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 135, 44, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 194, 44, 50, 14
 GROUPBOX "Archivo", -1, 7, 7, 237, 30
 EDITTEXT 3100, 14, 18, 147, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar", 3102, 165, 18, 34, 13, WS_GROUP
 PUSHBUTTON "Limpiar", 3101, 203, 18, 34, 13
}
