182 DIALOGEX 0, 0, 352, 267, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Archivo de registro"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 295, 246, 50, 14
 EDITTEXT 3302, 7, 7, 338, 234, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL | WS_HSCROLL | WS_GROUP
 PUSHBUTTON "Limpiar", 3300, 238, 246, 50, 14, WS_GROUP
}
