184 DIALOGEX 0, 0, 222, 130, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "", -1, 7, 7, 208, 69
 LTEXT "", 3503, 14, 14, 194, 39
 EDITTEXT 3502, 7, 86, 208, 13, ES_AUTOHSCROLL | WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 107, 109, 50, 14, WS_GROUP
 PUSHBUTTON "Abortar", 3, 165, 109, 50, 14
}
