185 DIALOGEX 0, 0, 313, 203, 0
STYLE DS_SETFONT | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_OVERLAPPEDWINDOW | WS_POPUPWINDOW | WS_VISIBLE
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Lanzador"
FONT 10, "Microsoft Sans Serif", 400, FALSE
{
 CONTROL "", 3905, "SysTreeView32", WS_BORDER | WS_TABSTOP | 0x00003030, 4, 4, 68, 175, WS_EX_CLIENTEDGE
 CONTROL "", 3900, "SysListView32", WS_TABSTOP | 0x00000809, 76, 4, 232, 175, WS_EX_CLIENTEDGE
}
