187 DIALOGEX 0, 0, 205, 162, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Columnas"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "Oculta:", -1, 7, 7, 26, 8
 LISTBOX 3904, 7, 18, 68, 112, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 LTEXT "Visible:", -1, 126, 7, 23, 8
 LISTBOX 3903, 126, 18, 68, 112, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Agregar", 3929, 81, 92, 39, 14, WS_GROUP
 PUSHBUTTON "Quitar", 3928, 81, 114, 39, 14
 PUSHBUTTON "Por defecto", 3927, 7, 141, 50, 14, WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 77, 141, 50, 14
 PUSHBUTTON "Cancelar", 2, 148, 141, 50, 14
}
