188 DIALOGEX 0, 0, 282, 204, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Rutas de búsqueda"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Carpetas", -1, 7, 7, 203, 150
 LTEXT "Marque las casillas para incluir subcarpetas en búsqueda", -1, 15, 22, 180, 8
 CONTROL "", 3906, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | 0x0000080F, 15, 31, 186, 101, WS_EX_STATICEDGE
 PUSHBUTTON "Agregar", 3916, 15, 137, 48, 14, WS_GROUP
 PUSHBUTTON "Quitar", 3917, 84, 137, 48, 14
 PUSHBUTTON "Limpiar", 3913, 153, 137, 48, 14
 GROUPBOX "Archivos", -1, 213, 7, 62, 150
 AUTOCHECKBOX "Tipo XML", 3918, 218, 31, 44, 11, WS_GROUP
 AUTOCHECKBOX "Tipo NES", 3907, 218, 48, 44, 11
 AUTOCHECKBOX "Tipo UNF", 3908, 218, 65, 44, 11
 AUTOCHECKBOX "Tipo FDS", 3909, 218, 82, 44, 11
 AUTOCHECKBOX "Tipo NSF", 3910, 218, 99, 44, 11
 AUTOCHECKBOX "Parches", 3911, 218, 116, 44, 11
 AUTOCHECKBOX "Archivados", 3912, 218, 133, 50, 11
 GROUPBOX "", -1, 7, 161, 145, 36
 AUTOCHECKBOX "Verificar todo ignorando extensión", 3914, 15, 169, 132, 10, WS_GROUP
 AUTOCHECKBOX "Ignorar archivos duplicados", 3915, 15, 182, 110, 10
 DEFPUSHBUTTON "Aceptar", 1, 167, 183, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 225, 183, 50, 14
}
