189 DIALOGEX 0, 0, 245, 51, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Leyendo...."
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LTEXT "", 3922, 7, 7, 231, 17
 DEFPUSHBUTTON "Abortar", 3, 97, 29, 50, 15
}
