190 DIALOGEX 0, 0, 124, 108, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Colores"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Primer plano", -1, 7, 7, 110, 34
 PUSHBUTTON "Editar", 3925, 60, 20, 38, 12, WS_GROUP
 GROUPBOX "Fondo", -1, 7, 45, 110, 34
 PUSHBUTTON "Editar", 3926, 60, 58, 38, 12, WS_GROUP
 PUSHBUTTON "Por defecto", 3924, 7, 87, 50, 14, WS_GROUP
 DEFPUSHBUTTON "Aceptar", 1, 67, 87, 50, 14
}
