191 DIALOGEX 0, 0, 327, 182, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Juego en red"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 GROUPBOX "Lista de juegos", -1, 7, 7, 313, 139
 CONTROL "", 3931, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | 0x00000817, 14, 20, 247, 103
 PUSHBUTTON "Agregar", 3932, 269, 20, 43, 16, WS_GROUP
 PUSHBUTTON "Quitar", 3933, 269, 45, 43, 16
 PUSHBUTTON "Limpiar", 3934, 269, 70, 43, 16
 AUTOCHECKBOX "Jugar a pantalla completa", 3936, 14, 130, 150, 10, WS_GROUP
 PUSHBUTTON "Por defecto", 3935, 120, 159, 60, 16, WS_GROUP
 DEFPUSHBUTTON "Lanzar...", 3930, 190, 159, 60, 16
 PUSHBUTTON "Cancelar", 2, 260, 159, 60, 16
}
