192 DIALOGEX 0, 0, 323, 27, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
EXSTYLE = WS_EX_TOOLWINDOW
CAPTION "Chat"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 EDITTEXT 4000, 7, 7, 309, 13, ES_AUTOHSCROLL | ES_WANTRETURN
}
