194 DIALOGEX 0, 0, 123, 75, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg", 400, FALSE
{
 EDITTEXT 4140, 41, 22, 42, 13, ES_AUTOHSCROLL | ES_NUMBER
 DEFPUSHBUTTON "Aceptar", 1, 7, 54, 50, 14
 PUSHBUTTON "Cancelar", 2, 66, 54, 50, 14
 GROUPBOX "Tamaño en K", -1, 7, 7, 109, 40
}
