195 DIALOGEX 0, 0, 119, 66, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Lector código de barras"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Transferir", 4301, 62, 45, 50, 14
 GROUPBOX "Digitos", -1, 7, 7, 105, 31
 EDITTEXT 4300, 14, 18, 91, 12, ES_AUTOHSCROLL | ES_NUMBER | WS_GROUP
 PUSHBUTTON "Aleatorio", 4302, 7, 45, 50, 14, WS_GROUP
}
