196 DIALOGEX 0, 0, 267, 177, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Editor de paleta"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Guardar..", 4503, 165, 156, 42, 14
 PUSHBUTTON "Cancelar", 2, 218, 156, 42, 14
 GROUPBOX "", -1, 7, 67, 253, 58
 CTEXT "R", -1, 14, 75, 11, 12, SS_SUNKEN
 CONTROL "", 4505, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 27, 75, 204, 12, WS_EX_STATICEDGE
 CTEXT "0", 4508, 235, 75, 18, 12, SS_SUNKEN
 CTEXT "G", -1, 14, 91, 11, 12, SS_SUNKEN
 CONTROL "", 4506, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 27, 91, 204, 12, WS_EX_STATICEDGE
 CTEXT "0", 4509, 235, 91, 18, 12, SS_SUNKEN
 CTEXT "B", -1, 14, 107, 11, 12, SS_SUNKEN
 CONTROL "", 4507, "msctls_trackbar32", WS_TABSTOP | 0x00000018, 27, 107, 204, 12, WS_EX_STATICEDGE
 CTEXT "0", 4510, 235, 107, 18, 12, SS_SUNKEN
 GROUPBOX "", -1, 7, 127, 140, 24
 AUTORADIOBUTTON "Person.", 4511, 16, 136, 37, 10, WS_GROUP
 AUTORADIOBUTTON "YUV", 4512, 68, 136, 26, 10
 AUTORADIOBUTTON "RGB", 4513, 111, 136, 26, 10
 GROUPBOX "", -1, 154, 127, 106, 24
 AUTOCHECKBOX "Mostrar hex", 4514, 161, 136, 50, 10, WS_GROUP
 CTEXT "0", 4515, 219, 135, 34, 12, SS_SUNKEN
 PUSHBUTTON "Deshacer", 4500, 7, 156, 42, 14, WS_GROUP
 PUSHBUTTON "Rehacer", 4501, 59, 156, 42, 14
 PUSHBUTTON "Reiniciar", 4502, 112, 156, 42, 14
}
