197 DIALOGEX 0, 0, 250, 116, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Base de datos de imágenes"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 138, 95, 50, 14
 PUSHBUTTON "Cancelar", 2, 193, 95, 50, 14
 GROUPBOX "Uso", -1, 7, 7, 236, 34
 AUTOCHECKBOX "Interno", 4624, 14, 23, 41, 10
 AUTOCHECKBOX "Externo", 4625, 69, 23, 43, 10
 GROUPBOX "Archivo externo", -1, 7, 45, 236, 37
 EDITTEXT 4621, 14, 59, 147, 13, ES_AUTOHSCROLL | WS_GROUP
 PUSHBUTTON "Buscar", 4622, 167, 59, 34, 13, WS_GROUP
 PUSHBUTTON "Limpiar", 4623, 205, 59, 34, 13
 PUSHBUTTON "Por defecto", 4620, 75, 95, 50, 14
}
