198 DIALOGEX 0, 0, 186, 139, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Selector de idioma"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 70, 118, 50, 14, WS_GROUP
 PUSHBUTTON "Cancelar", 2, 129, 118, 50, 14
 LISTBOX 4200, 7, 7, 172, 101, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | WS_GROUP | WS_TABSTOP
}
