199 DIALOGEX 0, 0, 251, 155, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg", 400, FALSE
{
 LISTBOX 4630, 7, 7, 237, 114, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "Abrir", 1, 136, 134, 50, 14, WS_GROUP
 PUSHBUTTON "Abortar", 3, 194, 134, 50, 14
}
