200 DIALOGEX 0, 0, 177, 62, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de filtro"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 64, 41, 50, 14
 PUSHBUTTON "Cancelar", 2, 120, 41, 50, 14
 GROUPBOX "", -1, 7, 7, 163, 27
 AUTOCHECKBOX "Interpolación bilineal", 2651, 14, 18, 81, 9, WS_GROUP
 PUSHBUTTON "Default", 2650, 7, 41, 50, 14, WS_GROUP
}
