202 DIALOG 0, 0, 354, 128
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones de filtro"
FONT 8, "Ms Shell Dlg"
{
 DEFPUSHBUTTON "Aceptar", 1, 64, 109, 50, 14
 PUSHBUTTON "Cancelar", 2, 120, 109, 50, 14
 PUSHBUTTON "Por defecto", 2650, 7, 109, 50, 14
 GROUPBOX "", -1, 7, 76, 163, 27
 GROUPBOX "Modo de mezclado (Blend)", -1, 7, 41, 163, 34
 GROUPBOX "Escalado", -1, 7, 4, 163, 34
 GROUPBOX "Redondeo de esquinas", -1, 177, 4, 159, 71
 AUTOCHECKBOX "Interpolación bilineal", 2651, 14, 87, 81, 9, WS_GROUP
 AUTOCHECKBOX "Mezclar pixels", -25069, 14, 56, 81, 10, WS_GROUP
 AUTORADIOBUTTON "Auto", -25067, 13, 20, 31, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "2x", -25065, 59, 20, 24, 10, NOT WS_TABSTOP
 AUTORADIOBUTTON "3x", -25062, 98, 20, 24, 10, WS_GROUP | NOT WS_TABSTOP
 AUTORADIOBUTTON "4x", -25061, 137, 20, 24, 10, WS_GROUP
 AUTORADIOBUTTON "Redondear todas las esquinas", -25059, 183, 20, 120, 10, WS_GROUP
 AUTORADIOBUTTON "Redondear algunas esquinas", -25057, 183, 38, 120, 10, WS_GROUP
 AUTORADIOBUTTON "No redondear", -25055, 183, 56, 69, 10, WS_GROUP
 LTEXT "xBR v.3.3 (A, B y C) por Hyllian", -25054, 177, 80, 170, 23
}
