STRINGTABLE
LANGUAGE 10, 3
{
40000, "Nestopia"
40001, "Error de Nestopia"
40002, "Aviso de Nestopia"
40003, "Salir de Nestopia"
40004, "¿Estás seguro?"
40005, "¡Eror de sintaxis!"
40006, "¡Error no manejado! ¡Llama a los cazafantasmas!"
40007, "¡No hay suficiente memoria!"
40008, "¡Modo BPP de color no admitido! Cámbielo a 16 o 32 bits en la configuración de pantalla"
40009, "¡Error Direct3DCreate9()! Se requiere DirectX 9.0c o superior para este emulador"
40010, "¡Error IDirect3D9::CreateDevice()! ¡Actualiza tus drivers de video!"
40011, "¡Tamaño no válido!"
40012, "% falló! Saliendo del emulador."
40013, "% falló! Se desactivará el sonido."
40014, "Ninguno"
40015, "Disco %"
40016, "Iniciar"
40017, "Parar"
40018, "Encontrar"
40019, "¡No encuentro el texto especificado!"
40020, "Activado"
40021, "Desactivado"
40022, "Otro.."
40023, "Aceptar"
40024, "Sistema"
40025, "Sí"
40026, "No"
40027, "Desconocido"
40028, "Reparable"
40029, "Malo"
40030, "Archivo"
40031, "Directorio"
40032, "Nombre"
40033, "Copyright"
40034, "Region"
40035, "FPS"
40036, "Placa"
40037, "Mapper"
40038, "Horizontal"
40039, "Canción previa"
40040, "Tamaño de pantalla 1x"
40041, "Tamaño de pantalla 2x"
40042, "Tamaño de pantalla 3x"
40043, "Tamaño de pantalla 4x"
40044, "Tamaño de pantalla 5x"
40045, "Tamaño de pantalla 6x"
40046, "Tamaño de pantalla 7x"
40047, "Tamaño de pantalla 8x"
40048, "Tamaño de pantalla 9x"
40049, "Tamaño de pantalla Max"
40050, "Activar menú"
40051, "Activar barra de estado"
40052, "Activar ventana por encima"
40053, "Activar FPS"
40054, "Pantalla completa"
40055, "Ayuda"
40056, "&Conectar."
40057, "&Descoectar"
40058, "Por defecto"
40059, "Nombre alt."
40060, "¡Archivo de sólo lectura"
40061, "2xSaI"
40062, "xBR"
40063, "Parcheado-Soft"
40064, "No se pudo leer archivo de parche \"%\"!"
40065, "El plugin de idioma actual puede no ser compatible con esta versión de Nestopia. ¿Continuar?"
40066, "Comparar"
40067, "Juego"
40068, "Descripción"
40069, "Pulsar cualquier tecla, Alt/Shift/Ctrl opcional (%)"
40070, "¡Tecla no válida!"
40071, "Pulsa cualquier tecla o botón de joystick button.. (%)"
40072, "¡Tecla ya asignada!"
40073, "¡Archivo de paleta inválido! ¡Debe de ser al menos de 192 bytes!"
40074, "[%]"
40075, "Registro exitosamente actualizado. Si deseas quitar Nestopia de tu PC desasigna antes las extensiones."
40076, "Registro actualizado"
40077, "Apagar máquina"
40078, "Resetear máquina"
40079, "No se pudo cargar datos de imagen de \"%\"!"
40080, "No se pudo guardar datos de imagen a \"%\"!"
40081, "¡PRG-ROM posiblemente corrupta! ¡La emulación de esta imagen podría fallar!"
40082, "¡CHR-ROM posiblemente corrupta! ¡La emulación de esta imagen podría fallar!"
40083, "Dendy"
40084, "Imagen ROM encriptada, no se ejecutará correctamente."
40085, "El archivo podría no funcionar en esta imagen en particular, ¿continuar?"
40086, "Discordancia de CRC"
40087, "Los cambios en este FDS no se guardarán a menos que seleccione guardar parche en el cuadro de opciones."
40088, "No se puede proceder sin una BIOS ROM de FDS válida. ¿Buscar una?"
40089, "Archivo de samples no encontrado. Algunos sonidos del juego estarán ausentes."
40090, "Abortar"
40091, "¿Quieres actualizar el archivo de guardado?"
40092, "¿Quieres actualizar el archivo de parcheo FDS?"
40093, "¿Quieres actualizar el archivo turbo?"
40094, "¿Quieres actualizar el archivo de cinta?"
40095, "¿Quieres actualizar el archivo de EEPROM?"
40096, "¡Checksum no válido!"
40097, "Trucador"
40098, "Volcado"
40099, "Archivo"
40100, "dice"
40101, "abandonó..."
40102, "Reproductor"
40103, "en % archivos"
40104, "Pad de soldado"
40105, "Chips"
40106, "Jugadores"
40107, "Desarrollador"
40108, "Publicante"
40109, "VS. Dualsystem"
40110, "VS. Unisystem"
40111, "Famicom"
40112, "NES-PAL"
40113, "NES-NTSC"
40114, "PlayChoice-10"
40115, "Cualquiera"
40116, "¡No se pudo leer de archivo!"
40117, "¡No se pudo escribir al archivo!"
40118, "¡No se pudo abir el archivo!"
40119, "¡Archivo no encontrado!"
40120, "¡El archivo ya existe!"
40121, "¡Archivo demasiado grande!"
40122, "¡Archivo no válido!"
40123, "¡Archivo vacío!"
40124, "¡Archivo corrupto!"
40125, "¡No hay archivos válidos dentro de este archivo!"
40126, "¡No se puede usar este archivo mientras esté dentro de otro!"
40127, "¡No se pudo crear directorio!"
40128, "El directorio \"%\" no existe. ¿Crearlo?"
40129, "Vertical"
40130, "4-pantallas"
40131, "Pantalla-simple"
40132, "Controlado por mapper"
40133, "Bateria"
40134, "Espejado"
40135, "%b datos finales (trailing data)"
40136, "Cabecera"
40137, "Artista"
40138, "Canciones"
40139, "Iniciando canción"
40140, "Chips Extra"
40141, "Switching de banco"
40142, "Cargar dirección"
40143, "Dirección de inicio"
40144, "Dirección de reproducción"
40145, "Autoguardado iniciado"
40146, "Autoguardado detenido"
40147, "Cargado \"%\""
40148, "Descargado \"%\""
40149, "Encender.."
40150, "Apagar.."
40151, "Reset Hard.."
40152, "Reset Soft.."
40153, "Conmutado a NTSC.."
40154, "Conmutado a PAL.."
40155, "Emulación pausada."
40156, "Emulación renudada"
40157, "Captura guardada en \"%\""
40158, "Disco %, Cara A insertada."
40159, "Disco %, Cara B insertada."
40160, "Disco % expulsado.."
40161, "Estado guardado a \"%\""
40162, "Estado cargado desde \"%\""
40163, "Estado guardado al slot %"
40164, "Estado cargado del slot %"
40165, "¡Atasco de CPU!"
40166, "Leyendo del disco.."
40167, "Escribiendo al disco.."
40168, "Reanudada la grabación de sonido.."
40169, "Grabación de sonido iniciada.."
40170, "Grabación de sonido detenida.."
40171, "% MB escritos al archivo WAVE.."
40172, "Película iniciada.."
40173, "Película detenida.."
40174, "Grabación de película iniciada.."
40175, "Grabación de película detenida.."
40176, "Película rebobinada.."
40177, "¡Archivo protegido contra escritura!"
40178, "¡Error genérico de emulación!"
40179, "¡Mapper malformado o no soportado!"
40180, "¡Emulación de VS Dual System no soportada!"
40181, "¡No se puede seguir sin un archivo BIOS-ROM de FDS!"
40182, "¡Error grabando estado!"
40183, "¡Error de carga de estado!"
40184, "¡Versión de archivo no soportada!"
40185, "¡Error de grabación de película!"
40186, "¡Error de reproducción de película"
40187, "¡Error, no se puede rebobinar ahora mismo!"
40188, "Archivo de paquete de samples no se pudo cargar. Algunos sonidos estarán ausentes."
40189, "¡Debes cambiar el modo de región antes de continuar!"
40190, "¡No se pudo parchear imagen!"
40191, "¡La cabecera del archivo tiene datos basura o desconocidos!"
40192, "¡Volcado posiblemente defectuoso! ¡La emulación de esta imagen puede fallar!"
40193, "&Pantalla completa"
40194, "&Escritorio"
40195, "&Encender"
40196, "&Apagar"
40197, "&%X"
40198, "¡No se pudo parchear la imagen de disco desde  \"%\"!"
40199, "¡No se pudo escribir parche de imagen de disco a \"%\"!"
40200, "¡No se pudo escribir al archivo de imagen de disco! "
40201, "Disco % Cara A"
40202, "Disco % Cara B"
40203, "¡Archivo de BIOS FDS no válido!"
40204, "¡Formato de disco no estándar o defectuoso! La emulación podría fallar por limitaciones en el formato FDS. Todos los discos se protegerán contra escritura."
40205, "¡No se pudo guardar captura de pantalla!"
40206, "¡Formato de mapa de bits no soportado!"
40207, "¡No se pudo abrir archivo WAVE!"
40208, "¡No se pudo escribir al archivo WAVE!"
40209, "¡No se pudo leer desde el archivo WAVE!"
40210, "¡No se pudo finalizar el archivo WAVE!"
40211, "¡Solo un recordatorio, el archivo wave que se está grabando se ha vuelto muy grande!"
40212, "Estándar"
40213, "NTSC"
40214, "ScaleX"
40215, "Hqx"
40216, "¿Poner énfasis en los colores?"
40217, "¡Uno o más campos no son válidos!"
40218, "La imagen podría no funcionar con los datos de cabecera actuales. ¿Guardar de todas formas?"
40219, "Se han encontrado datos reservador o desconocidos en la cabecera. ¿Deseas eliminarlos?"
40220, "¡Error de conversión AVI !"
40221, "La conversión a AVI va a iniciarse. Esto llevará varios minutos. Pulsa ESC en cualquier momento para abortar."
40222, "¡Conversión a AVI abortada!"
40223, "¡Conversión a AVI terminada!"
40224, "Nestopia debe reiniciarse para que se apliquen los cambios de idioma. ¿Salir ahora?"
40225, "No se reconocen uno o más IDs de dispositivo de joystick. ¿Deseas remapear las teclas afectadas a nuevos dispositivos?"
40226, "Pad 1"
40227, "Pad 2"
40228, "Pad 3"
40229, "Pad 4"
40230, "Power Pad"
40231, "Power Glove"
40232, "Hori Track"
40233, "Pachinko"
40234, "Crazy Climber"
40235, "Mahjong"
40236, "Exciting Boxing"
40237, "Pokkun Moguraa"
40238, "Party Tap"
40239, "Karaoke Studio"
40240, "Pelicula adelantada.."
40241, "Sin límite de Sprite: ACTIVADO"
40242, "Sin límite de Sprite: DESACTIVADO"
40243, "Pegando % caracteres.."
40244, "Grabando a cinta.."
40245, "Reproduciendo cinta.."
40246, "Cinta detenida.."
40247, "Modo de velocidad Hori Track: Bajo"
40248, "Modo de velocidad Hori Track: Alto"
40249, "Orientación de Hori Track: Izquierda"
40250, "Orientación de Hori Track: Derecha"
40251, "Todos los archivos admitidos"
40252, "Archivos NES XML"
40253, "Imágenes iNES ROM"
40254, "Imágenes UNIF ROM"
40255, "Imágenes Famicom Disk System"
40256, "Archivos de sondido NES"
40257, "Imágenes ROM"
40258, "¡Error de carga de base de datos externa! ¡Contenido no válido!"
40259, "Archivos de batería RAM"
40260, "Archivos de cinta"
40261, "Archivos de estado de Nestopia"
40262, "Archivos de slots de estado de Nestopia"
40263, "Arhivos de película de Nestopia"
40264, "Parches"
40265, "Archivos de paleta NES"
40266, "Archivos WAVE"
40267, "Archivos AVI"
40268, "Archivos"
40269, "Todos los archivos"
40270, "¡El archivo de base de datos del lanzador dañado o no compatible con esta versión de Nestopia!"
40271, "¡No se pudo guardar la base de datos del lanzador!"
40272, "Archivo"
40273, "Sistema"
40274, "Mapeador"
40275, "PRG"
40276, "CHR"
40277, "WRAM"
40278, "VRAM"
40279, "Batería"
40280, "Volcado"
40281, "Nombre"
40282, "Carpeta"
40283, "PAL-A"
40284, "Todos los archivos"
40285, "Archivos XML"
40286, "Archivos NES"
40287, "Archivos UNIF"
40288, "Archivos FDS"
40289, "Archivos NSF"
40290, "Archivos de Parches"
40291, "PAL-B"
40292, "Archivos de archivado"
40293, "¿Aplicar archivo al juego actual? Si lo haces, se recargará el juego."
40294, "No se pudo encontrar un archivo de imagen que coincida. ¿Iniciar búsqueda manual?"
40295, "Trucos"
40296, "El archivo ya existe. ¿Quieres combinar los datos?"
40297, "¡No se pudo leer el archivo, los datos antiguos serán reemplazados!"
40298, "¡Código no válido!"
40299, "VALIDO"
40300, "INVÁLIDO"
40301, "Código"
40302, "Dirección"
40303, "Valor"
40304, "Emulación"
40305, "Archivo"
40306, "Máquina"
40307, "NSF"
40308, "Ver"
40309, "Ayuda"
40310, "Izquierda"
40311, "Arriba"
40312, "Derecha"
40313, "Abajo"
40314, "Select"
40315, "Start"
40316, "B"
40317, "A"
40318, "Auto-disparo B"
40319, "Auto-disparo A"
40320, "Unidad 3"
40321, "Unidad 4"
40322, "Unidad 5"
40323, "Unidad 6"
40324, "Mic"
40325, "A"
40326, "B"
40327, "Velocidad alternativa"
40328, "Rebobinar"
40329, "Insertar moneda 1"
40330, "Insertar moneda 2"
40331, "Abrir"
40332, "Guardar estado"
40333, "Seleccionar juego"
40334, "Cargar estado"
40335, "Seleccionar archivo"
40336, "Estado de carga rápida 1"
40337, "Estado de carga rápida 2"
40338, "Estado de carga rápida 3"
40339, "Estado de carga rápida 4"
40340, "Estado de carga rápida 5"
40341, "Estado de carga rápida 6"
40342, "Estado de carga rápida 7"
40343, "Estado de carga rápida 8"
40344, "Estado de carga rápida 9"
40345, "Estado de carga rápida más reciente"
40346, "Estado de guardado rápido 1"
40347, "Estado de guardado rápido 2"
40348, "Estado de guardado rápido 3"
40349, "Estado de guardado rápido 4"
40350, "Estado de guardado rápido 5"
40351, "Estado de guardado rápido 6"
40352, "Estado de guardado rápido 7"
40353, "Estado de guardado rápido 8"
40354, "Estado de guardado rápido 9"
40355, "Estado de guardado rápido más antiguo"
40356, "Guardar captura de pantalla"
40357, "Lanzador"
40358, "Salir"
40359, "Power"
40360, "Reset Soft"
40361, "Reset Hard"
40362, "Pausa"
40363, "Activar Sprites ilimitados"
40364, "Cambiar cara de disco"
40365, "Reproducir canción"
40366, "Detener canción"
40367, "Siguiente canción"
40368, "Mic"
40369, "Cara A 1"
40370, "Cara A 2"
40371, "Cara A 3"
40372, "Cara A 4"
40373, "Cara A 5"
40374, "Cara A 6"
40375, "Cara A 7"
40376, "Cara A 8"
40377, "Cara A 9"
40378, "Cara A 10"
40379, "Cara A 11"
40380, "Cara A 12"
40381, "Cara B 3"
40382, "Cara B 2"
40383, "Cara B 8"
40384, "Cara B 7"
40385, "Cara B 6"
40386, "Cara B 5"
40387, "Cara B 11"
40388, "Cara B 10"
40389, "Select"
40390, "Start"
40391, "Move In"
40392, "Move Out"
40393, "Rodar a la izquierda"
40394, "Rodar a la derecha"
40395, "Izquierda"
40396, "Arriba"
40397, "Derecha"
40398, "Abajo"
40399, "Select"
40400, "Start"
40401, "B"
40402, "A"
40403, "Velocidad"
40404, "Orientación"
40405, "Izquierda"
40406, "Arriba"
40407, "Derecha"
40408, "Abajo"
40409, "Select"
40410, "Start"
40411, "B"
40412, "A"
40413, "Izquierda Arriba"
40414, "Izquierda derecha"
40415, "Izquierda abajo"
40416, "Izquierda Izquierda"
40417, "Arriba derecha"
40418, "Derecha Derecha"
40419, "Derecha abajo"
40420, "Derecha izquierda"
40421, "A"
40422, "B"
40423, "C"
40424, "D"
40425, "E"
40426, "F"
40427, "G"
40428, "H"
40429, "I"
40430, "J"
40431, "K"
40432, "L"
40433, "M"
40434, "N"
40435, "Start"
40436, "Select"
40437, "Kan"
40438, "Pon"
40439, "Chi"
40440, "Reach"
40441, "Ron"
40442, "Gancho de izquierda"
40443, "Gancho de derecha"
40444, "Jab izquierdo"
40445, "Jab derecho"
40446, "Directo"
40447, "Cuerpo"
40448, "Movimiento a la izquierda"
40449, "Movimiento a la derecha"
40450, "Fila 1 botón 1"
40451, "Fila 1 botón 2"
40452, "Fila 1 botón 3"
40453, "Fila 1 botón 4"
40454, "Fila 2 botón 1"
40455, "Fila 2 botón 2"
40456, "Fila 2 botón 3"
40457, "Fila 2 botón 4"
40458, "Fila 3 botón 1"
40459, "Fila 3 botón 2"
40460, "Fila 3 botón  3"
40461, "Por defecto"
40462, "Unidad 1"
40463, "Unidad 2"
40464, "Normal"
40465, "Por encima de lo normal"
40466, "Alta"
}
